.hideElement {
    border: solid black 1px;
    width: 25%;
    margin-left: 70%;
    height: 500px;
    z-index: -999;
    position: absolute;
    visibility: hidden;
    
    
}
.showElement {
    border: solid black 1px;
    width: 25%;
    margin-left: 73.5%;
    height: 500px;
    z-index: 999;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    padding: 5px;
    
    
}
.prodCart {
    border: solid black 1px;
}

.itemCart {
    border: solid black 1px;
    height: 100px;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
}

.imgProdCart {
    border: solid black 0.1px;
    height: 100%;
    width: 90px;
 
}

.nameText {
    margin-left: 10px;
    height: 45px;
    width: 130px;
    font-size: 15px;
    margin-top: 5px;
 
}

.priceProduct {
    width: 65px;
    font-size: 15px;
    margin-top: 5px;
   
  
}
.delete {
    background-color: white;
    border: solid black 2px;
    height: 20px;
}
.finishOrder {
    height: 35px;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
}