.card {
    height: 320px;
    width: 240px;
    border: solid black 2px;
    margin-left: -15px;
    padding: 10px;
    text-align: center;
    color:black;
}
.card:hover {
    color:black;
    text-decoration: none;
}
.imgOnCard {
    height: 180px;
}
.nameProds {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;

}
.price {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}