.mainImg {
    border: solid black 1px;
    width: 90%;
    height: 500px;
    margin-top: 20px;
    margin-left: 5%;
}
.presImg {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: 20px;

}
.presImgs {
    width: 100%;
    border: solid black 1px;
}
.sizes {
    border: solid black 0.1px;
    height: 35px;
    width: 50px;
    margin-left: -14px;
    margin-top: 5px;
    text-align: center;
    font-size: 13px;

}
.tableSizes {
    margin-top: 40px;
}