.mainImg {
    border: solid black 1px;
    width: 90%;
    height: 500px;
    margin-top: 20px;
    margin-left: 5%;
}
.presImg {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-top: 20px;
   

}
.presImgs {
    width: 99.5px;
    border: solid black 1px;
    height: 100px;

}

.unselectedImg {
    cursor: pointer;   
    width: 99.5px;
    height: 100px;

}

.nameProd {
    font-size: 30px;
    margin-top: 50px;
}
.priceProd {
    font-size: 30px;
    margin-top: 30px;
}
.description {
    text-align: justify;
    border: solid black 1px;
    margin-top: 20px;
    font-size: 14px;

}
.addCart {
    height: 35px;
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: 0;
}

.gridSizes {
    display:grid;
    margin: 5px;
    grid-template-columns: auto auto auto auto auto;
    border: solid #cdcdcd 1px;
}
.sizes {
    border: solid #cdcdcd 1px;
    height: 40px;
    cursor: pointer;
}
.selectSize {
    border: solid black 1px;
    height: 40px;
    cursor: pointer;
}
.unavailableSize {
    border: solid #cdcdcd 1px;
    height: 40px;
    color: #CDCDCD;
}
